body {
  font-family: "Raleway", sans-serif;
  background-repeat: repeat;
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.9;
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 20px;
}

.container-fluid {
  /*background-color: greenyellow;*/
  padding-bottom: auto;
}

th, td {
  text-align: center;
  padding: 10px;
  color: #fff;
}

th {
  background-color: #333;
  font-weight: bold;
}

td {
  background-color: black;
}

tr:nth-child(even) td {
  background-color: #555;
}

a {
  color: #ffa500;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #ffd700;
}

a[disable] {
  pointer-events: none;
  cursor: default;
  color: gray;
  opacity: 0.6;
}

h1 {
  text-align: center;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

li {
  margin: 10px 0;
}

li span {
  font-weight: bold;
}

.cor {
  color: #d9d9d9;
  text-decoration: none;
}

.cor:hover {
  color: #ffd700;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  border-radius: 12px;
  padding: 5px 1px;
  height: auto;
}

.navbar a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
  border-radius: 8px;
}

.main {
  padding: 16px;
  margin-top: 60px;
  min-height: 100vh;
}

.chamada {
  color: red;
  text-align: center;
}

.informacoes-jogo {
  border-radius: 8px;
  font-style: normal;
  color: #ddd;
  background-color: #161515;
  padding: 15px;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  text-align: center;
}

thead {
  background-color: #333;
}

tbody tr:nth-child(even) {
  background-color: #555;
}

tbody tr:hover {
  background-color: #777;
}

footer {
  color: #161515;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  background-color: #f9f9f9;
  width: 100%;
}

.instrucaoes {
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: left;
  font-family: Arial, sans-serif;
  color: #333;
  line-height: 35px;
  margin-top: 60px;
}

/* Responsividade */
@media (max-width: 1024px) {
  .container {
      padding: 10px;
  }
  .navbar a {
      font-size: 12px;
      padding: 10px;
  }
}

@media (max-width: 768px) {
  .informacoes-jogo {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
  }

  table {
      width: 100%;
      display: block;
      overflow-x: auto;
      white-space: nowrap;
  }

  th, td {
      padding: 8px;
      font-size: 12px;
  }

  footer {
      font-size: 10px;
  }

  h1, h2, h3, h4, h5, h6 {
      text-align: center;
      font-size: 18px;
  }

  .chamada {
      font-size: 16px;
  }

  .main {
      padding-top: 15%;

  }

  .navbar a {
      text-align: left;
      padding: 12px;
  }
}

@media (max-width: 480px) {
  .navbar {
      padding: 5px;
  }

  .navbar a {
      font-size: 10px;
      padding: 8px;
  }

  .main {
      padding-top: 20%;
      margin-top: 5px; /* Espaço acima do rodapé */

  }

  h1 {
      font-size: 16px;
  }

  .chamada {
      font-size: 14px;
  }
}
